<div class="form-container">
  <form #formDirective="ngForm"  [formGroup]="userForm" (ngSubmit)="onSubmit(formDirective)" class="mat-elevation-z8">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="userForm.controls.name.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="userForm.controls.email.hasError('required')">Required</mat-error>
      <mat-error *ngIf="userForm.controls.email.hasError('email')">Must be an Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone number" formControlName="phone">
      <mat-error *ngIf="userForm.controls.phone.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Choose a date of birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="userForm.controls.birthday.hasError('required')">Required</mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!userForm.valid" color="primary">Submit</button>
  </form>
</div>
